name: deploy site

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 18
      - run: npm install
      - run: npm run build
      - name: deploy to root
        run: |
          git config user.name "github-actions"
          git config user.email "github-actions@github.com"
          ls -R dist
          rm -rf ./*
          rsync -a dist/ ./
          git add .
          git commit -m "deploy site" || echo "mothing to commit"
          git push origin main
